* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  color: #111827;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.header h2 {
  font-size: 20px;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

.logout {
  background: #dc2626;
}

/* Container */
.container,
.form-container {
  padding: 20px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

/* Card */
.card {
  background: white;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 8px;
}

.card button {
  margin-top: 10px;
}

/* Form */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.full {
  width: 100%;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card-item {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-icons span {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.action-icons span:hover {
  color: red;
}

@media(max-width:600px){
  .card-header h3 {
    font-size: 1rem;
  }
  .action-icons span {
    font-size: 1rem;
  }
}






/* /////////////////////////////////// */
/* Mobile */
@media(max-width:600px) {
  .header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}